<%- include('../includes/head.ejs') %>
  </head>

  <body>
    <%- include('../includes/navigation.ejs') %>
    <main>
      <div>Admin Product List</div>
    </main>
    <%- include('../includes/end.ejs') %>